* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Acme', sans-serif;
}

body{

    background-image: url(../img/rosa.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*Aqui esta todo el contenido del slider*/

#cont-slider {
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    width: 76%;
    /* border: 3px solid#FF1800; */
    background-color: #FF6D5E;
    height: auto;
    background-size: 100% 100%;
}

.img-noticia {
    display: block;
    width: 100%;
    height: 60vh;
}

.titulo-slider-noticia, .subt-slider-noticia{
    display: block;
    /* border: 1px solid black;   */
    box-sizing: border-box;
    height: 10vh;
    padding: 2%;
    color: #ffffff;
    background-color: #FF6D5E;
}

.url-noticia{
    color: white;
}

.titulo-subtitulo{
    display: none;
}

.botones-slider {
    display: block;
    /* border: 3px solid red; */
    width: 76.15%;
    height: auto;
    margin: 0 auto;
    clear: both;
    padding: 0;
}

.atras-slider, .delante-slider{
    display: inline-block;
    height: 40px;
    background-color: #FF6D5E;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    width: 50%;
    transition: 500ms;
    font-size: 1.5em;
}

.delante-slider {
    margin: 0 -4px;
}

.atras-slider:hover{
    background-color: #FF1800;
}

.delante-slider:hover{
    background-color: #FF1800;
}


/*Estos son los estilos del buscador*/

.form-busqueda{
    display: block;
    /* border: 1px solid black; */
    width: 50%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    margin-top: 4%;
}

.buscador-caja {
    display: inline-block;
    /* padding: 12px; */
    width: 27%;
    border: 5px solid #FF4532;
    background-color: #FF6D5E;
    text-align: center;
    margin-left: 30%;
    height: 6vh;
    font-size: 1.1em;
    color: white;
}

.boton-busqueda{
    display: inline-block;
    /* border-radius: 6px; */
    border: 5px solid #0055a5;
    text-align: center;
    width: 15%;
    height: 7vh;
    color: #ffffff;
    background-color: #1883ba;
    font-size: 1.5em;
    cursor: pointer;
    transition: 500ms;
}

.boton-busqueda:hover{
    color: #0055a5;
    background-color: #ffffff;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
}

.filtro {
    margin-left: 45%;
    margin-top: 4%;
    border-radius: 6px;
    color: #ffffff;
    background-color: #6D67EB;
    height: 45px;
    width: 10%;
    cursor: pointer;
    font-size: 1.2em;
    margin-bottom: 3%;
}

.filtro:hover {
    color: #6D67EB;
    background-color: #ffffff;
}

.ancla{
    display: none;
}

.limpiar-busqueda{
    display: none;
    margin: 0 auto;
    border: 5px solid #0055a5;
    text-align: center;
    width: 10%;
    height: 5vh;
    margin-bottom: 2%;
    color: #ffffff;
    background-color: #1883ba;
    font-size: 1em;
    cursor: pointer;
    transition: 500ms;
}

.limpiar-busqueda:hover{
    color: #0055a5;
    background-color: #ffffff;
}

.pestaña-filtro {
    display: block;
    padding: 12px;
    margin-top: 7%;
    margin: 0 auto;
    width: 23%;
    border: 3px solid #FF4532;
    background-color: gainsboro;
    text-align: center;
    height: 50%;
    margin-bottom: 10%;
    visibility: hidden;
}

.lista-noticias {
    display: none;
    /* border: 3px #FF4532 solid; */
    background-color: white;
    /* margin-top: 5%; */
    margin: 0 auto;
    width: 78%;
    /* border: 6px solid #FF4532; */
    text-align: left;
    height: auto;
}

.article-class {
    display: block;
    padding: 0%;
    clear: both;
}

.logo-periodico{
    width: 23.8%;
    height: 25vh;
    display: block;
    float: left;
}

.titulo-subt-lista{
    display: block;
    border-bottom: 1px solid white;
    width: 76%;
    height: 25vh;
    margin-left: 0%;
    background-color: #FF6D5E;
    font-size: 1.5em;
    float: right;
    /* transition: 500ms; */
}

/* .titulo-subt-lista:hover{
    background-color: #FF1800;
} */

.titulo-noticia-lista, .subt-noticia-lista, .info-noticia{
    display: block;
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding: 2%;
    height: 9vh;
    color: white;
}

.info-noticia{
    text-align: center;
    transition: 700ms;  
}

.info-noticia:hover{
    background-color: #FF1800;
}

.logo {
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 6px;
    width: 9%;
}




